@import url(header.css);
@import url(banner.css);
@import url(carrossel.css);

:root{
    
    --cor-fundo: #acacac;
    --cor-fundo-banner: #b675a2;
    --cor-fundo-degrade: linear-gradient(135deg, #fd81c7, #942ef3);

    --cor--fonte: #ffffff;
    --cor--rosa-fonte: #ff61ea;
    --fonte-principal: "Poppins", sans-serif;
    --cor-branco: #ffffff;
}

body{
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
}
